body {
   background-color: silver
   ;
   height: 90px;
    width:  1080px;
   
}
.introduction {
  border: 4px solid black;
  font-size: 30px;
   font-family: Roboto;
   color: black;
   border: black; 
   margin-left: 450px;
   margin-top: 90px;
}
p {
  color: black;
  font-family: Cormorant Garamond;
  font-size: 28px;
  border: 4px solid gray ;
  background-color: silver;
  
}
button{
  background-color:mediumpurple;
  size: 50px;
  margin-top: 20px;
  margin-left: 20px;
}
button:hover{
     background-color: mediumseagreen;
}
.zaawar{
  font-size: 20px;
}
.zagwar{
  size: 50px;
}
a {
  size: 50px;
}